.slider {
  margin: 50px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image {
  width: 40vw;
  height: auto;
}

.carouselInfo {
  position: relative;
  top: -150px;
  font-size: 2rem;
  color: white;

  p {
    font-size: 1rem;
  }
}

.right-arrow {
  position: relative;
  top: 20%;
  right: -10%;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
}

.left-arrow {
  position: relative;
  top: 20%;
  left: 9%;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
}

.greenSquare {
  height: 50px;
  width: 130px;
  background-color: #29faa0;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .slider {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .carouselInfo {
    position: absolute;
    top: 180px;
    left: 0px;
  }

  .left-arrow {
    position: relative;
    top: -100px;
    left: -50%;
  }
  .right-arrow {
    top: -160px;
    right: -50%;
  }

  .slide.active img {
    width: 300px;
  }
}
